<html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.csv.min.js"></script>

<script src="/static/js/jquery.jexcel.js"></script>
<script src="/static/js/jquery.jdropdown.js"></script>
<link rel="stylesheet" href="/static/css/jquery.jexcel.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.jdropdown.min.css" type="text/css" />


<!-- Optional CSS addon -->
<link rel="stylesheet" type="text/css" href="/static/css/material.css" />
<!--script async defer src="https://buttons.github.io/buttons.js"></script-->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/2.0.0/css/jquery.jexcel.bootstrap.min.css" type="text/css" /-->


<div id="my"></div>

<p>
<button id='csv'>Convert to CSV</button>
<button id='json'>Convert to JSON</button>
<button id='download'>Download selected</button>
</p>

<textarea id='txt' style='width:1200px;height:240px'></textarea>

<script>
$('#my').jexcel({
    csv:'/api/vm/{{.Platform}}',
    csvHeaders:false,
    tableOverflow:true,
    tableHeight:'400px',
    // colWidths: [45, 120, 230, 130 , 150, 130, 270, 170, 130, 130 ],
    colWidths: {{.Sizes}},
    //colHeaders: ['J', 'Livebox', 'Brass', 'BrassEX' , 'Ip', 'Type' , 'key', 'MAC', 'Passwd', "?" ],
    colHeaders: {{.Headers}},
     columns: [
        { type: 'checkbox' },
        { type: 'text' },
        { type: 'text' , readOnly:true },
    ],
    onselection: select_handler,
    toolbar:[
        { type:'i', content:'undo', method:undo },
        { type:'i', content:'redo', method:redo },
        { type:'i', content:'save', method:save },
        { type:'select', k:'font-family', v:['Arial','Verdana'] },
        { type:'select', k:'font-size', v:['9px','10px','11px','12px','13px','14px'] },
        { type:'i', content:'format_align_left', k:'text-align', v:'left' },
        { type:'i', content:'format_align_center', k:'text-align', v:'center' },
        { type:'i', content:'format_align_right', k:'text-align', v:'right' },
        { type:'i', content:'format_bold', k:'font-weight', v:'bold' },
    ],
});

function save(instance, selectedCell)
{
    alert("save request");
    $(instance).jexcel('download');
}

function undo(instance, selectedCell)
{
    $(instance).jexcel('undo');
}

function redo(instance, selectedCell)
{
    $(instance).jexcel('redo');
}

function select_handler(obj, cell, val) {
    console.log('My table id: ' + $(obj).prop('id'));
    console.log('Cell changed: ' + $(cell).prop('id'));
    console.log('Value: ' + val);
    //$('#my').jexcel('setStyle', 'A2', 'background-color', 'yellow');
    //row = $(obj).prop("row");
    //console.log('My Row: ' + $(obj).prop('row'));
    cell_id = $(cell).prop('id');
    o = cell_id.split('-');
    r= o[0];
    c = o[1];
    
    row = $.fn.jexcel.selectedRow;
    $(row).css('background-color', '#edf3ff');
    $(cell).css('background-color', '#edf3ff');
};



$('#csv').on('click', function () {
  var data = $('#my').jexcel('getData');
	$('#txt').val($.csv.fromArrays(data));
});

$('#json').on('click', function () {
  var data = $('#my').jexcel('getData');
	$('#txt').val(JSON.stringify(data));
});

$('#download').on('click', function () {
    var data = $('#my').jexcel('getData');
    
    // filter selected  ( col index: 9 )
    var selected = [];
    for (var i = 0; i < data.length; i++) {
        var line = data[i];
        if (line[0] == "1") {
            // selected column is checked: add it
            selected.push(line);
        }
    }
    // convert .csv
    text = $.csv.fromArrays(selected)

    var a = window.document.createElement('a');
    a.href = window.URL.createObjectURL( new Blob([text], {type: 'text/csv'}));
    a.download = '{{.Platform}}';
    // Append anchor to body.
    document.body.appendChild(a);
    a.click();
    // Remove anchor from body
    document.body.removeChild(a);

});




</script>
</html>

